
.banner-wrapper{
    text-align: center;
    background-color: var(--clr-banner);
    padding: 5rem 0;
    color:  white;
    margin-bottom: 5rem;
    padding: 2rem;
}

.banner-wrapper h2 {
    font-size: 5rem;
    margin: 0;
}

.banner-wrapper p {
    font-size: 1.5rem;
}