
.display-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
    text-align: center;
}

.feature {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.feature h2 {
    margin: 0;
    margin-top: 1rem;
    font-size: 1.3rem;
}

.feature p {
    max-width: 25ch;
    color: rgb(93, 93, 93); 
    font-size: .8rem;
    font-weight: 600;
}

.feature img{
    min-width: 50px;
    min-width: 50px;
    color: white;
}

.icon-background {
    padding: 1rem;
    background-color: var(--clr-secondary);
    border-radius: 1rem;
}

.feature img {
    max-height: 100px;
}

.feature-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 7rem;
    justify-content: center;
}